@font-face {
  font-family: 'segoe';
  src: url("../../fonts/SEGOEUI.ttf") format("truetype");
}

@font-face {
  font-family: 'segoe_bold';
  src: url("../../fonts/SEGOEUIB.ttf") format("truetype");
}

@font-face {
  font-family: 'segoe_italic';
  src: url("../../fonts/segoeuii.ttf") format("truetype");
}

@font-face {
  font-family: 'segoe_italic_bold';
  src: url("../../fonts/SEGOEUIZ.ttf") format("truetype");
}

@font-face {
  font-family: 'lato';
  src: url("../../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'lato_thin';
  src: url("../../fonts/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'lato_light';
  src: url("../../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'lato_italic';
  src: url("../../fonts/Lato-Italic.ttf") format("truetype");
}




body, section {
  background-color: $main-color;
}
a, p, h1, h2, h3, h4, h5, h6, div {
  font-family: lato_light;
  font-weight: 500;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: $break-small) {
    padding-left: 0;
    padding-right: 0;     
  }
}
div:focus {
  border: none !important;
  outline: none!important;
}


/*************
*    Nav     *
*************/
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
.nav {
  float: right;
  color: $red-main-color;
  @media screen and (max-width: $break-small) {
    padding-top: 70px;
    width: 100%;
    padding-top: 82px;
    margin: 0;
  }
}
.navbar-default {
  background-color: $main-color;
  border-bottom: 4px solid $darker-main-color;
  font-family: lato;
  padding-top: 69px;
  @media screen and (max-width: $break-small) {
    padding-top: 5px;
  }

  .navbar-nav > li {
    border-bottom: 2px solid $section-color;
     a {
      color: $red-main-color;
      font-size: 16px;
      font-weight: 400;
      text-align: right;      
      @media screen and (max-width: $break-small) {
        text-align: center;
        font-size: 24px;
        line-height: 35px;
        border-bottom: 1px solid $section-color;
        font-weight: 400;
      }
    }
  }

  .navbar-nav > li:last-child() {
    border-bottom: none;
  }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default.white {
  background-color: white;
  box-shadow: 0px 1px 10px $gray-shadow;
  .navbar-nav > li > a {
    color: $gray-base;
  }
}
.navbar-toggle:hover {
  background-color: transparent !important;
}

.container > .navbar-header {
  width: 100%;
  height: 60px;
  .navbar-brand {
    position: relative;
    display: contents;
    height: 20px;
    img {
      width: 238px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: -50px;
      padding-left: 29px;
      @media screen and (max-width: $break-small) {    
        width: 175px;
        margin-top: -24px;
        padding-left: 42px;   
      }
    }
  }
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
  z-index: 10000;
}
.navbar-brand {
  float: none !important;
}
.navbar-toggle {
  border: none;
}
.menu-text {
  margin-left: -90px;
  float: left;
  margin-top: -26px;
  color: $red-main-color;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  font-family: lato;

  @media screen and (max-width: $break-small) {
    display: none;     
  }
}

/*************
*   Main     *
*************/
.main-background {
  height: 900px;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("../../img/background_1.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -20px; 
  @media screen and (max-width: $break-small) {  
    height: 600px;
  }
  h1 {
    margin-top: 261px;
    text-transform: uppercase;
    font-family: segoe_italic_bold;
    color: $red-main-color;
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 28.8px;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    padding: 20px 0;    
    @media screen and (max-width: $break-small) {  
      margin-top: 201px;
      font-size: 42px;
      letter-spacing: 12.8px;
    }   
    @media screen and (max-width: $break-extra-small) {  
      font-size: 32px;
    }
  }
  p {
    font-family: lato_italic;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    background-color: $section-color;
    padding: 10px 20px;
    color: $red-main-color;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    max-width: 1000px !important;
    margin: auto;
    margin-top: 452px;

    @media screen and (max-width: $break-small) {
      margin-top: 135px; 
    }
    @media screen and (max-width: $break-extra-small) {  
      font-size: 20px;
      padding: 0;
    }
    
  }
}


/*************
*   Footer   *
*************/
footer {    
  padding: 70px 0 90px;
  background-color: $footer-color;
  height: 260px;
  @media screen and (max-width: $break-small){
    height: 452px;
  }
  .footer-logo {
    width: 180px;
    float: right;
    margin-top: -12px;

    @media screen and (max-width: $break-small) {
      width: 150px;
      float: none;
      margin-top: 22px;
      display: block;
      margin: auto;
    }
  }
  p {
    font-family: lato;
    color: $white;
    font-size: 21px;
    font-weight: 400;
  }
  .contact-info { 
    @media screen and (max-width: $break-small){
      text-align: center;
      padding-bottom: 20px;
    }
    img {
      padding-right: 8px;
    }
    .phone {
      padding-left: 31px;
    }
    .address {
      padding-right: 11px;
    }
  }
}



/*************
*  Hamburger *
*************/
.navTrigger {
  cursor: pointer;
  width: 30px; 
  height: 25px;
  margin-bottom: 22px;
  span {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    color: $red-main-color;
  }
  span:nth-child(1) {
    -webkit-animation:outT 0.8s backwards;
    animation:outT 0.8s backwards;
    -webkit-animation-direction:reverse;
    animation-direction:reverse;
  }
  span:nth-child(2) {
    margin: 5px 0;
    -webkit-animation:outM 0.8s backwards;
    animation:outM 0.8s backwards;
    -webkit-animation-direction:reverse;
    animation-direction:reverse;
  }
  span:nth-child(3) {
    -webkit-animation:outBtm 0.8s backwards;
    animation:outBtm 0.8s backwards;
    -webkit-animation-direction:reverse;
    animation-direction:reverse;
  }
  &.active {
    span:nth-child(1) {
      -webkit-animation:inT 0.8s forwards;
      animation:inT 0.8s forwards;
    }
    span:nth-child(2) {
      -webkit-animation:inM 0.8s forwards;
      animation:inM 0.8s forwards;
    }
    span:nth-child(3) {
      -webkit-animation:inBtm 0.8s forwards;
      animation:inBtm 0.8s forwards;
    }
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $red-main-color;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar-toggle.active .icon-bar + .icon-bar {
  margin-top: 6px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 1px;
}
@-webkit-keyframes inM{
50%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(45deg);}
}
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@-webkit-keyframes outM{
50%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(45deg);}
}
@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@-webkit-keyframes inT{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(9px) rotate(0deg);}
100%{-webkit-transform: translateY(9px) rotate(135deg);}
}
@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@-webkit-keyframes outT{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(9px) rotate(0deg);}
100%{-webkit-transform: translateY(9px) rotate(135deg);}
}
@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@-webkit-keyframes inBtm{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(-9px) rotate(0deg);}
100%{-webkit-transform: translateY(-9px) rotate(135deg);}
}
@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}

@-webkit-keyframes outBtm{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(-9px) rotate(0deg);}
100%{-webkit-transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}



.jumbotron p {
  margin-bottom: 40px;
}
section {
  margin-top: 42px;
  .jumbotron {
    margin-bottom: 0;
    background-color: $main-color;
  }
  .how { 
    background-color: #fff9df!important;
    img {
      margin: auto;
      align-content: center;
      display: block;
      width: 100%;
      margin-top: -65px;
      margin-bottom: -105px;
      max-width: 1100px;      
      @media screen and (max-width: $break-small) {
        margin-bottom: -63px;
      }
    }
  }

  .timeline {
    width: 100%;
    padding: 0 50px;
  }
}

.steps {
  margin-top: 25px;  
  background-color: #fff9df;
  h4 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: $break-small) {
      font-size: 32px; 
    }
    &.bake {
      color: #e96346;
    }
    &.cool {
      color: #ffad00;
    }
    &.freeze {
      color: #19b5e3;
    }
    &.sting {
      color: #e96346;
    }
  }
  .step p {
    color: $red-main-color;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 8px 10% 20px;


    @media screen and (max-width: $break-small) {
      font-size: 23px;
      line-height: 30px;
      padding: 8px 3% 0px;
    }
  }
}

.section-icon {
  width: 156px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
.facts .section-icon {
  width: 186px;
}

.section-title {
  background-color: $section-color;
  text-align: center;
  max-width: 1000px !important;
  text-transform: uppercase;
  margin: auto;
  padding: 0;
  h3 {
    font-family: lato_italic;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    background-color: $section-color;
    padding: 0;
    color: $red-main-color;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }
}
.section-under-title {
  font-family: lato;
  margin: 20px 0 50px;
  text-transform: uppercase;
  color: $red-main-color;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px; 
  &.underline {
    border-bottom: 2px solid $section-color;
    padding-bottom: 10px;
    width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 50px;

    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }
}

.button-type {
  background: #fac453;
  display: block;
  margin: auto;
  padding: 10px;
  width: 501px;
  height: 52px;
  font-family: Lato;
  color: $red-main-color;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
}

.features .button-type {
  @media screen and (max-width: $break-small) {
    width: 90%;
    border-radius: 8px;
  }
}

.jumbotron.facts {
  overflow: hidden;
  background-color: $main-light-color !important;
  .fact p {
    color: $red-main-color;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 8px 10% 0;
    border-left: 4px solid $section-color;


    @media screen and (max-width: $break-small) {
      font-size: 23px;
      line-height: 30px;
      padding: 8px 3% 0;
    }

  }
}
.jumbotron p {
  @media screen and (max-width: $break-small) {
    font-size: 24px;
  }
}

.choice {
  background: url("../../img/bread-bg.jpg") !important;
  .remind-steps {
    margin: 60px 0;
     h4 {
      font-family: segoe_italic_bold;
      color: $red-main-color;
      font-size: 40px;
      font-weight: 700;
      font-style: italic;
      text-align: left;


      @media screen and (max-width: $break-small) {
        text-align: center;
        }
      }

    img {
      float: left;
      

      @media screen and (max-width: $break-small) {
        float: none;
        padding: 0 50px;
        margin: auto;
        display: block;
      }
    }

    p{
      color: $red-main-color;
      font-size: 17px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      padding: 8px 10% 0;

      @media screen and (max-width: $break-small) {
        font-size: 23px;
        text-align: center;
      }
    }
  }
}

section .jumbotron {
  background-color: #fffcee;
  overflow: hidden;
}
.features {
  .feature {
    font-family: lato;
    margin: 20px 0 50px;
    text-transform: uppercase;
    color: $red-main-color;
    font-size: 19px;
    font-weight: 400;
    text-align: center;

    @media screen and (max-width: $break-small) {
      margin: 20px 0 20px;
      border-bottom: 1px solid #e8e7da;
    }
    img {
      display: block;
      margin: auto;
    }
  }
  .feature:nth-child(4) {
    @media screen and (max-width: $break-small) {
      border-bottom: none;
    }
  }
}


.certificates {
  background-color: $main-light-color;
  background: none !important;
  .certificate {
    margin-top: 0;
    margin-bottom: 0;
    img {
      width: 215;
      height: 162px;
    }
     h5 {
      font-family: lato;
      color: $red-main-color;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      border-bottom: 2px solid $section-color;
      margin-left: 194px;
      width: 300px;
      padding-bottom: 6px;
      letter-spacing: 2px;
      @media screen and (max-width: $break-small) {
        font-size: 22px;
        text-transform: uppercase;
        border-bottom: 2px solid #fac453;
        margin-left: 0;
        width: 90%;
        padding-bottom: 6px;
        padding-top: 20px;
        margin: auto;
        text-align: center;
      }
    }
    p {
      width: 60%;
      font-family: lato;
      color: $red-main-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;

      @media screen and (max-width: $break-small) {
        width: 100%;
        font-family: lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
  .certificate.second {
    width: 100%;
    padding-left: 50%;
    h5 {
      margin-left: 0;
    }
    img {
      float: right;
    }
    p {
      padding: 0;
    }
  }
}